<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Emp App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li >
                    <a href="#" th:if="${role eq 'MANAGER'}" th:href="@{/manager/home}">Home</a>
                     
                </li>
                
                 <li >
                 <a href="#" th:if="${role eq 'ADMIN'}" th:href="@{/admin/home}">Home</a>
                 </li>
                 
                 <li >
                  <a href="#" th:if="${role eq 'USER'}" th:href="@{/user/home}">Home</a>
                  </li>
                 <li >
                    <a href="#" th:if="${role eq 'ADMIN'}" th:href="@{/registration}">Register</a>
                </li>
                
                <li >
                    <a href="#"      th:if="${role eq 'MANAGER' || role eq 'USER' || role eq 'ADMIN'}"th:href="@{/updateprofile}">  Profile </a>
                </li>
                
                <li >
                    <a href="#" th:if="${role eq 'USER'}" th:href="@{/updateskillset}"> Skill </a>
                </li>
                
                <li >
                    <a href="#" th:if="${role eq 'USER'}" th:href="@{/appliedjob}">Applied Job</a>
                </li>
                <li>
                    <a href="#" th:if="${role eq 'MANAGER'}" th:href="@{/jobpost}">Post Job</a>
                </li>
                
                <li>
                    <a href="#" th:if="${role eq 'ADMIN'}" th:href="@{/skill}">Skill</a>
                </li>
                
                 <li>
                    <a href="#" th:if="${role eq 'MANAGER'}" th:href="@{/jobapplications}">Applications</a>
                </li>
                   <li>
                    <a href="#"  th:if="${role eq 'MANAGER' || role eq 'USER'}" th:href="@{/tasktracker}">Todo Tracker</a>
                </li>
                 
                     <li>
                    <a href="#"  th:if="${role eq 'MANAGER'}" th:href="@{/createExpenseTracker}">Create Tracker</a>
                     </li> 
                     
                     
                      <li>
                    <a href="#"  th:if="${role eq 'MANAGER' }" th:href="@{/expensetracker}">Expense Tracker</a>
                     </li>    
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	
            	
            
            
             	<li >
                    <a  th:if="${role eq ''}"  href="#" th:href="@{/login}">Sign In</a>
                    
                </li>
            
                <li >
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>