<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
    
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>



<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/expense/approve/submit}"
					th:object="${expenseClaim}" method="post" class="form-horizontal"
					role="form">
					
					
					<h2>Expense Claim</h2>
					<br />
					<br />
					
					
					<input type="hidden"
								th:field="*{id}" placeholder="Id" class="form-control" />
					
					
					
						<input type="hidden"
								th:field="*{fromDate}" placeholder="Id" class="form-control" />
					
						<input type="hidden"
								th:field="*{toDate}" placeholder="Id" class="form-control" />
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Tracker Id :</label> 
							<input type="hidden"
								th:field="*{expenseTracker.id}" placeholder="Id" class="form-control" />
							<label class="validation-message" th:text="*{expenseTracker.id}">Job</label> 
						</div>
					</div> 
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Job</label> :
							<label class="validation-message" th:text="*{expenseTracker.job.title}">Job</label> 
						</div>
					</div> 
					
					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Claim By</label> :
							<label class="validation-message" th:text="*{expenseTracker.employee.email}">Job</label> 
						</div>
					</div> 
					
					

					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Daily Allowance:</label>
								<label class="validation-message" th:text="*{expenseTracker.dailyAllowance}">Job</label> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Food Expense :</label>
								<label class="validation-message" th:text="*{expenseTracker.foodExpense}">Job</label> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Cab Expense :</label> 
							<label class="validation-message" th:text="*{expenseTracker.cabExpense}">Job</label> 						
						</div>
					</div>
					
			
			
			
			
			
			
			
			
			
				
				<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Status</label> <select
								class="form-control" aria-describedby="status-addon"
								id="status" name="status"
								th:field="*{status}">
								<option th:value="APPROVE" th:text="APPROVE"></option>
								<option th:value="REJECT" th:text="REJECT"></option>
							</select>
						</div>
				</div>
			
			
			
				<div class="form-group">
						<div class="col-sm-9">
							<label class="validation-message">Message</label>
								<input type="text"
								th:field="*{approverMessage}" placeholder="Id" class="form-control" />
						</div>
				</div>
				
					
					
				<div  th:if="${expenseClaim.attachedfile}" class="form-group">
						<div class="col-sm-9">
							<a href="#" th:href="@{'/claim/attachmentdownload/' + ${expenseClaim.id}}">Download Attachment</a>
						</div>
				</div>
				
				
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span> <br /> <br /> <br />
					
				</form>
			</div>
		</div>

	
	





<div class="panel-group" style="margin-top: 40px">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span>Amount Submitted</span>
			</div>
			<div class="panel-body">
				<div class="panel-body">
					<table class="table table-hover">
						<tr>
							<th>#</th>
							<th>From Date (DD/MM/YYYY)</th>
							<th>To Date (DD/MM/YYYY)</th>
							<th> Per Diem</th>
							<th>Food</th>
							<th> Cab</th>						
						</tr>

						<tr>
 							<td th:text="${expenseClaim.id}">Id</td>
                            <td th:text="${#dates.format(expenseClaim.fromDate, 'dd-MMM-yyyy')}" >Id</td>
                            <td th:text="${#dates.format(expenseClaim.toDate, 'dd-MMM-yyyy')}" >Id</td>
                            <td th:text="${expenseClaim.dailyAllawance}">Id</td>
							<td th:text="${expenseClaim.foodAllawance}">Id</td>
							<td th:text="${expenseClaim.cabAllawance}">Title</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	</div>





<hr>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>

