<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />

</head>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>



<h2>Expense Tracker </h2>
<br/><br/>
					
					<div class="form-group">
						<div class="col-sm-9">
						
					          Id :
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						
					          Account :
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						
					          Employee Name:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					
					<div class="form-group">
						<div class="col-sm-9">
						
					          Daily Allowance:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					

                  <div class="form-group">
						<div class="col-sm-9">
						
					          Food Expense:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					
					 <div class="form-group">
						<div class="col-sm-9">
						
					          Cab Expense:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					
					 <div class="form-group">
						<div class="col-sm-9">
						
					          Country:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						
					          From Date:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						
					           To Date:
						<input type="text" th:field="*{expense.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
</body>
</html>