<!DOCTYPE html>
<html><head>
    <title>??view.index.title_en_ZA??</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="login_files/bootstrap.css" rel="stylesheet">
	<script src="login_files/jquery.js"></script>
	<script src="login_files/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="login_files/core.css">
    
<style>
#rcorners3 {
    border-radius: 25px;

background-color:white;
margin-top:0px;


    padding: 10px;
    width: 98%;
    height: 60px;
}

</style>

</head>
<body >

<nav class="navbar navbar-inverse navbar-fixed-top"  style="height:400px;background-image: url('images/bgimage.jpg');" >
    <div class="container">
      
        <div class="navbar-collapse collapse" >
	<div style="float:left;margin-right:200px;"> <img src="images/Logo.png" ></div>
	
	<ul class="nav navbar-nav navbar-left">
	<li><a class="dropdown" style="color:white">+91-7276655440</a></li>
	<li>&nbsp;</li>
	<li><a class="dropdown" style="color:white">+91-7276655440</a></li>
	<li>&nbsp;</li>

<li><a class="dropdown" style="color:white">+91-7276655440</a></li>
	</ul>
           
            <ul class="nav navbar-nav navbar-right">
            
             	<li>
                    <a href="http://localhost:8080/login" style="color:white">Sign In</a>
                </li>
            
                <li>
                    <a href="#" onclick="$('#form').submit();" style="color:white">
                        <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
                    </a>
                    <form action="/logout" id="form" method="post" style="visibility: hidden"></form>
                </li>
            </ul>



<div class="col-md-12 " id="rcorners3">


 <ul class="nav navbar-nav">
	        <li>
                    <img src="images/technoheahen-logo.png" class="img-responsive" alt="" width="250" height="75">
                </li>        
		<li>
                    <a href="#">Home</a>
                </li>
                
                 
                
                <li>
                    <a href="about.html">  About </a>
                </li>
                <li>
                    <a href="about.html">  Innovation </a>
                </li>
		                <li>
                    <a href="about.html">  What we do </a>
                </li>
	
                
                
                <li>
                    
                </li>
                <li>
                    
                </li>
                
                <li>
                    
                </li>
                
                 <li>
                    
                </li>
                
                
            </ul>
</div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>




<hr>
<div align="center">
        © <span>2017</span>
        <span>Employee Travel App</span>
    </div>





</body></html>