<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />


</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>



<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{'/tasktracker/add/' + ${item.tracker.id}}"
					th:object="${item}" method="post" enctype="multipart/form-data"  class="form-horizontal"
					role="form">
					
					<h2>Travel Task Tracker </h2>
					<br/><br/>
					
					
					 <div class="form-group">
						<div class="col-sm-9">
						 <label	class="validation-message">Tracker Id : </label>
				         <label th:text = "${item.tracker.Id}"	class="validation-message"></label>
						<input type="hidden" th:field="*{tracker.id}" placeholder="name"
								class="form-control" /> 
					</div>
					</div>
				
				
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">	Job Id: </label>
				        <label th:text = "${item.tracker.job.Id}"	class="validation-message"></label>
						<input type="hidden" th:field="*{tracker.job.id}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
						
						
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">	Job Title: </label>
						
						<label th:if="${#fields.hasErrors('tracker.job.title')}" th:errors="*{tracker.job.title}"
								class="validation-message"></label>
						
				        <label th:text = "${item.tracker.job.title}"	class="validation-message"></label>
						<input type="hidden" th:field="*{tracker.job.title}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
						
						
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">	Manager: </label>
				        <label th:text = "${item.tracker.job.user.name}"	class="validation-message"></label>
						<input type="hidden" th:field="*{tracker.job.user.name}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
						
							<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">	Applicant: </label>
				        <label th:text = "${item.tracker.jobApplication.user.name}"	class="validation-message"></label>
					
						<input type="hidden" th:field="*{tracker.jobApplication.user.name}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
					Title
						<input type="text" th:field="*{title}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					<!-- <div class="form-group">
                        <div class="col-sm-9">

                            <label th:if="${#fields.hasErrors('startDate')}"
                                th:errors="*{startDate}" class="validation-message"></label> 
                             DATE<input type="text" th:field="*{startDate}"
                                placeholder="" class="form-control" />

                        </div>

                    </div> -->
					
					<div class="form-group">
						<div class="col-sm-9">
					Description
						<input type="text" th:field="*{description}" placeholder="name"
								class="form-control" /> 
						</div>
					</div>
					
					
						<div class="form-group">
					   <div class="col-sm-9">
					   <label	class="validation-message">Status :</label>
					 
					   <select class="form-control" aria-describedby="status-addon" id="status" name="status" th:field="*{status}">                 
                		 	<option   th:value="OPEN" th:text="OPEN"></option>
                		 	<option   th:value="CLOSED" th:text="CLOSED"></option>
           			   </select>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="file" name="file" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>


					<br/><br/><br/><br/>
					
				</form>
			</div>
		</div>
		  <div class="panel-body">
					
				
			 <div class="panel-group" style="margin-top:40px">
			  <div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					
					Item
					 <table class="table table-hover">
					 
					 <tr>
        				<th>Id</th>
        				<th>Title</th>
        				<th>Description</th>
        				
        				<th>Status</th>
        				<th>Date</th>
        				<th>Attachment</th>
        			

      			     </tr>
      			      
					 <tr th:each="item: ${actionItems}">
       						 <td th:text="${item.id}">Id</td>  
        					 <td th:text="${item.title}">Title</td>
        					  <td th:text="${item.description}">Description</td>  
        					  <td th:text="${item.status}">Status</td>
        					  <td th:text="${item.startDate}">Date</td>
        					  <td> <a href="#" th:href="@{'/updatetracker/' + ${item.id}}">Edit</a>  </td>
        					  <td th:if="${item.attachedfile}" ><a href="#"   th:href="@{'/todo/attachmentdownload/' + ${item.id}}">Download Attachment</a></td>
        			 </tr>
        				
    				 </table>
				</div>
			</div>	
	</div>
</div>
</div>
</body>
</html>