<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/jobskill/add}"
					th:object="${jobSkill}" method="post" class="form-horizontal"
					role="form">


					<div class="form-group">
						<div class="col-sm-9">
							JobId<input type="text" th:field="*{job.id}"
								placeholder="Job ID" class="form-control" />
						</div>
					</div>



					<h2>Skill Set</h2>

					<br /> <br />
					<!-- <div class="form-group">
					  <div class="col-sm-9">
						Technical Skills<input type="text" th:field="*{technicalSkills}" placeholder="Technical Skills"
								class="form-control" /> 
						</div>
                  
					</div>
					 -->
					<div class="form-group">
						<div class="col-sm-9">

							<label class="validation-message">Skills</label> 
							<select
								class="form-control" aria-describedby="status-addon"
								id="technicalSkills" name="technicalSkills"
								th:field="*{technicalSkills}">
								<option th:each="skill : ${skills}" th:value="${skill.id}"
									th:text="${skill.name}"></option>


							</select>



						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							Skill Experience<input type="text" th:field="*{skillExperience}"
								placeholder="Skill Experience" class="form-control" />
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">ADD</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span> <br /> <br /> <br />
					<br />
				</form>
			</div>
		</div>
		<div class="panel-body">
					
					         Skills
					 <table class="table table-hover">
					 
					     <tr>
        				    <th>Id</th>
        				    <th>Name</th>
        				    <th>Experience</th>
        				    <th></th>

      			         </tr>
      			      
					 <tr th:each="sk : ${JobSkills}">
       						 <td th:text="${sk.id}">Id</td>  
        					 <td th:text="${sk.skill.name}">Name</td> 
        					 <td th:text="${sk.skillExperience}">Experience</td>
        					
        			
        			 </tr>
        			  
        			
    				 </table>
				  </div>
	</div>
</html>